.profile-picture {
  height: 600px;
  width: 100%;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  background-color: #32373b;
background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
color: white;
}