nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  position: fixed;
}

.logo {
  font-family: Bungee, sans-serif;
}

.navright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-icon {
  color: red;
}