article.tweet-container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 0.5em;
  margin-top: 1em;
  font-size: medium;
}

article.tweet-container:hover {
  box-shadow: 10px 10px lightgrey;
}

article.tweet-container .tweet, footer, p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

article.tweet-container .tweet div {
  align-items: center;
  color: grey;
}

.top-row-tweet-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.user-handle {
  color: gray;
  display: flex;
  align-items: center;
}

.tweet-content {
  border-bottom: 3px solid black;
  padding-bottom: 0.5em;
  font-weight: bold;
}

.icons {
  color: #4056a1;
}

.flag:hover, .retweet:hover, .heart:hover {
  color: darkgoldenrod;
}

.date-of-tweet {
  font-size: small;
  font-weight: bold;
}